# 如何直接从git删除 git rm -r --cached 文件路径/文件夹/后缀

# 忽略 __pycache__ 目录下的所有内容
__pycache__/

# 忽略pycharm文件
.idea/

# 忽略所有 .pyc 文件 即python缓存
*.pyc

# 忽略settings.json 用户配置文件
config/settings.json

# 忽略用户自截图文件
config/cus_images/用户自截/空间服登录界面_1P.png
config/cus_images/用户自截/空间服登录界面_2P.png
config/cus_images/用户自截/跨服远征_1p.png

# 忽略用户 开/删物品 额外文件
config/cus_images/背包_装备_需使用的/任意通用包裹.png
config/cus_images/背包_装备_需使用的/美味酬劳.png
config/cus_images/背包_装备_需使用的/火山酬劳.png
config/cus_images/背包_装备_需使用的/浮空酬劳.png
config/cus_images/背包_装备_需使用的/星际酬劳.png

# 忽略运行产生的文件 主要是日志
logs/chests_image/*.png
logs/loots_image/*.png

logs/match_failed/texts_美食大赛/blocks/*.png
logs/match_failed/texts_美食大赛/blocks_half/*.png

logs/match_failed/texts_关卡名称/blocks/*.png
logs/match_failed/texts_关卡名称/blocks_half/*.png

logs/guild_manager/guild_member_images/*.png
logs/guild_manager/guild_members_data.json

logs/match_failed/loots/*.png

logs/result_json/*.json
logs/*.log
logs/*.json

# 忽略 main.spec
main.spec

打包 & 部署 copy.md