# 忽略 __pycache__ 目录下的所有内容
__pycache__/

# 忽略pycharm文件
.idea/

# 忽略所有 .pyc 文件 即python缓存
*.pyc

# 忽略settings.json 用户配置文件
config/settings.json

# 忽略用户自截图文件
config/cus_images/用户自截/空间服登录界面_1P.png
config/cus_images/用户自截/空间服登录界面_2P.png
config/cus_images/用户自截/跨服远征_1p.png

# 忽略运行产生的文件 主要是日志
logs/chests_picture/*.png
logs/loots_picture/*.png

logs/match_failed/texts_美食大赛/blocks/*.png
logs/match_failed/texts_美食大赛/blocks_half/*.png

logs/match_failed/texts_关卡名称/blocks/*.png
logs/match_failed/texts_关卡名称/blocks_half/*.png

logs/guild_manager/guild_member_images/*.png
logs/guild_manager/guild_members_contributions.csv

logs/match_failed/loots/*.png

logs/result_json/*.json
logs/*.log
logs/*.json

# 忽略 main.spec
main.spec