certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
colorlog==6.8.2
idna==3.7
networkx==3.3
numpy==2.1.0
opencv-python==4.10.0.84
packaging==24.1
PuLP==2.9.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pytz==2024.1
pywin32==306
requests==2.32.3
setuptools==73.0.1
urllib3==2.2.2
