altgraph==0.17.4
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
colorlog==6.8.2
dacite==1.9.1
et_xmlfile==2.0.0
idna==3.7
Markdown==3.7
mysql-connector-python==9.1.0
networkx==3.3
numpy==2.1.0
objgraph==3.6.2
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
psutil==6.0.0
PuLP==2.9.0
pycryptodome==3.21.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyinstrument==5.0.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==73.0.1
six==1.16.0
snakeviz==2.2.2
tornado==6.4.2
tzdata==2024.1
urllib3==2.2.2
WMI==1.5.1
